.article-detial {
  .article {
    background-color: #ffff;
    padding: 16px;
    border-radius: 4px;

    .title {
      margin: 12px 0 10px 0;
      color: rgba(0, 0, 0, 0.85);
      font-size: 26px;
    }

    .metadata {
      margin-bottom: 24px;
      color: rgba(0, 0, 0, 0.45);

      .block {
        margin-right: 10px;
        display: block;
        float: left;
      }

      .link {
        cursor: pointer;

        &:hover {
          color: #1890ff;
        }
      }
    }

    //伪类清楚浮动
    .metadata::after {
      content: '';
      display: table;
      clear: both;
    }

    .label {
      margin-top: 35px;

      .item {
        margin-right: 2px;
        cursor: pointer;

        &:hover {
          color: #1890ff;
        }
      }
    }
  }

  .pre-next {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

    div {
      cursor: pointer;

      &:hover {
        color: #1890ff;
      }
    }

    .left-title {
      margin-left: 4px;
      position: relative;
      top: -4px;
    }

    .right-title {
      margin-right: 4px;
      position: relative;
      top: -4px;
    }
  }
}
