.home {
  .no-article {
    margin-top: 80px;
    font-size: 14px;
    text-align: center;
  }

  .ant-list-item {
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 16px;
    background-color: #fff;
  }

  .ant-list-vertical .ant-list-item-meta {
    margin-bottom: 10px;
  }

  .ant-list-vertical .ant-list-item-meta-title {
    font-weight: 550;
  }

  .pagination {
    text-align: center;
  }

  .anticon svg {
    position: relative;
    top: 8px;
  }
}
