.footer {
  text-align: center;
  width: 1160px;
  height: 100%;
  margin: 0 auto;
  padding: 13px;
  color: #6c757d !important;

  > div {
    padding-top: 6px;

    > span {
      margin-right: 8px;
    }
  }
}

.ant-layout-footer {
  padding: 10px 0;
}
